In [1]:
!which python

//anaconda/bin/python

In [1]:
###################################################################################################
# This script walks through a latitude-longitude "square" and pings at regular intervals, grabbing 
# the nearest address and checking if it's residential (ie. 'premise').  If so, it adds both the 
# address and (lat,long) coordinates into a SQL database.
###################################################################################################

from sqlalchemy import create_engine # to work with PostgreSQL database
from sqlalchemy_utils import database_exists, create_database # to work with PostgreSQL database
import psycopg2  # to work with PostgreSQL database
import pandas as pd
import re # to read in file with api key info and search for the right key

import time # to calculate how long it takes to run the main loop
from math import cos # to calculate lat,lng
import googlemaps # from https://github.com/googlemaps/google-maps-services-python, installed using "pip install -U googlemaps"

In [2]:
path='/Users/brianna/Dropbox/Insight/solar/'

In [3]:
# Get API keys from file so we can use the different APIs
api_file = open(path+'insight_project/api_keys/api_keys.txt','r')
api_text = api_file.read()
api_file.close()

# Open API for google maps
googlemaps_api=re.findall('googlemaps_api=\'(\S+)\'',api_text)
gmaps = googlemaps.Client(key=googlemaps_api[0])

In [4]:
#In Python: Define a database name (we're using a dataset on births, so I call it 
# birth_db), and your username for your computer (CHANGE IT BELOW). 

#dbname = 'locations'
#username = 'brianna'

In [5]:
# 'engine' is a connection to a database
# Here, we're using postgres, but sqlalchemy can connect to other things too.

# To start postgres, open the Elephant application in Applications!

#engine = create_engine('postgres://%s@localhost/%s'%(username,dbname))
#print engine.url

## create a database (if it doesn't exist)
#if not database_exists(engine.url):
#    create_database(engine.url)
#print(database_exists(engine.url))

In [25]:
# Ok, I'm going to cheat for now and populate a dataframe using pandas, then pass it to the postgresql database

# Make a dataframe with 100,000 rows that you can start to populate.
# The number (10,000) is just a start so we're not creating a new row in each iteration
nrows=120000
df = pd.DataFrame(columns=['GridLat','GridLng','AddressString','AddLat','AddLng','LocationType','PlaceID'], index=range(nrows))

In [26]:
# Decide what latitude and longitude you want to walk over.

# Palo Alto: Start in southwest corner of Palo Alto (551 Junipero Serra)
# SF: Start off the west coast, travel 0.1723 degrees east (lng) and 0.117 degrees north (lat)
x0=-122.5145  # longitude is x, move west to east
#y0=37.6930    # latitude is y, move south to north
#y0=37.6955    # latitude is y, move south to north
y0=37.743
xstop=-122.386 # instead of a for loop, just stop when you get to this longitude (East of SF)


# more positive longitude is going East (note that means less negative, since numbers are negative)
# 
#xn=37.465530  # lat difference is 0.052861)
#yn=-122.107286  # lng difference is -0.117031

# Latitude is basically constant across the globe, 69.172 miles for each degree 
# Longitude is cos(latitude)* 69.172 mi
# Latitude is ~0.65 radians in NorCal, so one degree longitude is about cos(.65)*69.172=55.0667 miles in this region
LatStep=0.001 # Stepping East by (69.172*.001) mile increments (??? feet)
LngStep=0.001 # Stepping North by (55.0667*.001) mile increments (??? feet)
print('Latitude step is '+str(round((LatStep*69.172)*5280,0))+' feet')
print('Longitude step is '+str(round((cos(.65)*LngStep*69.172)*5280))+' feet')

#xsteps=100 # currently walks 100*0.0003=0.15 degrees longitude
ysteps=67 # currently walks 100*0.0005=0.117 degrees latitude

Latitude step is 365.0 feet
Longitude step is 291.0 feet

In [27]:
# Start a counter i to index which row you're populating in the dataframe
wholestart = time.time()
i=y=x=0

for y in range(ysteps):
    #Step through the latitude lines in a grid with width=LatStep.
    GridLat=y0+y*LatStep
    print('Starting at new latitude line '+str(GridLat))

    xloopstart = time.time()
    GridLng=AddLng=x0
    #for x in range(xsteps):
    while GridLng < xstop:
        # Step through each longitude line in this latitude. If the longitude of the 
        # nearest house is further east than the point on the grid where you were going to 
        # start, skip over to the most eastern longitude.
        # (This will miss some houses, but I'm trying to employ the 20/80 "close enough" rule.)
        #GridLng=x0+x*LngStep
        GridLng+=LngStep
        if GridLng < AddLng:
            GridLng = AddLng

        # First, find the address that's most closely associated with the lat,lon coordinates
        # on your grid.
        ReverseGeocodeResult = gmaps.reverse_geocode((GridLat, GridLng))
        AddressString = ReverseGeocodeResult[0]['formatted_address']

        # if address is not already in dataframe AND LocationType is a rooftop, 
        # get the new address coordinates and populate the dataframe
        if not any(df.AddressString == AddressString):
            
            # Now that you have the address, go back and find the exact lat,lng coordinates
            GeocodeResult = gmaps.geocode(AddressString)
            AddLat = GeocodeResult[0]['geometry']['location']['lat']
            AddLng = GeocodeResult[0]['geometry']['location']['lng']
            PlaceID = GeocodeResult[0]['place_id']

            # We only want rooftops (no parks or other structures), so only add to the 
            # database if the 'location_type' == 'ROOFTOP'
            LocationType=GeocodeResult[0]['geometry']['location_type']

            #print('i: '+str(i)+', GridLat: '+str(GridLat)+', GridLng: '+str(GridLng)+', AddressString: '+AddressString+
            #      ', AddLat: '+str(AddLat)+', AddLng: '+str(AddLng)+', LocationType: '+LocationType)

            try:
                if LocationType == 'ROOFTOP':
                    df.GridLat[i]=GridLat; df.GridLng[i]=GridLng
                    df.AddLat[i]=AddLat; df.AddLng[i]=AddLng
                    df.AddressString[i]=AddressString; df.LocationType[i]=LocationType
                    df.PlaceID[i] = PlaceID
                    i+=1
                    if i%50 == 0:
                        print(i)
            except TypeError:
                pass;
    xloopend = time.time()
    print('Found '+str(i)+  ' at lat '+str(GridLat)+' in '+str(round(xloopend - xloopstart,2))+' sec')

wholeend = time.time()
print(wholeend - wholestart)

Starting at new latitude line 37.743
50
Found 79 at lat 37.743 in 48.82 sec
Starting at new latitude line 37.744
100
150
Found 177 at lat 37.744 in 53.59 sec
Starting at new latitude line 37.745
200
250
Found 284 at lat 37.745 in 58.67 sec
Starting at new latitude line 37.746
300
350
Found 390 at lat 37.746 in 58.36 sec
Starting at new latitude line 37.747
400
450
Found 494 at lat 37.747 in 58.54 sec
Starting at new latitude line 37.748
500
550
Found 590 at lat 37.748 in 58.73 sec
Starting at new latitude line 37.749
600
650
Found 681 at lat 37.749 in 61.29 sec
Starting at new latitude line 37.75
700
750
Found 773 at lat 37.75 in 55.78 sec
Starting at new latitude line 37.751
800
850
Found 873 at lat 37.751 in 60.94 sec
Starting at new latitude line 37.752
900
950
Found 972 at lat 37.752 in 60.35 sec
Starting at new latitude line 37.753
1000
1050
Found 1083 at lat 37.753 in 61.09 sec
Starting at new latitude line 37.754
1100
1150
Found 1188 at lat 37.754 in 61.49 sec
Starting at new latitude line 37.755
1200
1250
Found 1296 at lat 37.755 in 61.25 sec
Starting at new latitude line 37.756
1300
1350
Found 1395 at lat 37.756 in 65.11 sec
Starting at new latitude line 37.757
1400
1450
Found 1499 at lat 37.757 in 68.45 sec
Starting at new latitude line 37.758
1500
1550
1600
Found 1606 at lat 37.758 in 60.96 sec
Starting at new latitude line 37.759
1650
1700
Found 1718 at lat 37.759 in 60.61 sec
Starting at new latitude line 37.76
1750
1800
Found 1827 at lat 37.76 in 61.27 sec
Starting at new latitude line 37.761
1850
1900
Found 1933 at lat 37.761 in 60.22 sec
Starting at new latitude line 37.762
1950
2000
Found 2046 at lat 37.762 in 60.73 sec
Starting at new latitude line 37.763
2050
2100
2150
Found 2159 at lat 37.763 in 63.64 sec
Starting at new latitude line 37.764
2200
2250
Found 2273 at lat 37.764 in 62.55 sec
Starting at new latitude line 37.765
2300
2350
Found 2353 at lat 37.765 in 49.66 sec
Starting at new latitude line 37.766
2400
Found 2414 at lat 37.766 in 56.61 sec
Starting at new latitude line 37.767
2450
Found 2462 at lat 37.767 in 56.7 sec
Starting at new latitude line 37.768
2500
Found 2521 at lat 37.768 in 55.72 sec
Starting at new latitude line 37.769
2550
Found 2556 at lat 37.769 in 46.63 sec
Starting at new latitude line 37.77
2600
Found 2610 at lat 37.77 in 46.77 sec
Starting at new latitude line 37.771
2650
Found 2665 at lat 37.771 in 54.8 sec
Starting at new latitude line 37.772
2700
Found 2738 at lat 37.772 in 58.11 sec
Starting at new latitude line 37.773
2750
2800
Found 2826 at lat 37.773 in 61.25 sec
Starting at new latitude line 37.774
2850
2900
Found 2934 at lat 37.774 in 63.38 sec
Starting at new latitude line 37.775
2950
3000
Found 3045 at lat 37.775 in 63.94 sec
Starting at new latitude line 37.776
3050
3100
3150
Found 3155 at lat 37.776 in 62.81 sec
Starting at new latitude line 37.777
3200
3250
Found 3260 at lat 37.777 in 61.58 sec
Starting at new latitude line 37.778
3300
3350
Found 3370 at lat 37.778 in 60.94 sec
Starting at new latitude line 37.779
3400
3450
Found 3470 at lat 37.779 in 61.24 sec
Starting at new latitude line 37.78
3500
3550
Found 3578 at lat 37.78 in 60.91 sec
Starting at new latitude line 37.781
3600
3650
Found 3678 at lat 37.781 in 61.76 sec
Starting at new latitude line 37.782
3700
3750
Found 3776 at lat 37.782 in 63.3 sec
Starting at new latitude line 37.783
3800
3850
Found 3878 at lat 37.783 in 60.08 sec
Starting at new latitude line 37.784
3900
3950
Found 3969 at lat 37.784 in 58.09 sec
Starting at new latitude line 37.785
4000
4050
Found 4056 at lat 37.785 in 61.44 sec
Starting at new latitude line 37.786
4100
Found 4148 at lat 37.786 in 61.39 sec
Starting at new latitude line 37.787
4150
4200
Found 4244 at lat 37.787 in 60.17 sec
Starting at new latitude line 37.788
4250
4300
Found 4330 at lat 37.788 in 56.32 sec
Starting at new latitude line 37.789
4350
4400
Found 4404 at lat 37.789 in 51.03 sec
Starting at new latitude line 37.79
4450
Found 4478 at lat 37.79 in 53.33 sec
Starting at new latitude line 37.791
4500
Found 4537 at lat 37.791 in 52.7 sec
Starting at new latitude line 37.792
4550
Found 4590 at lat 37.792 in 60.28 sec
Starting at new latitude line 37.793
4600
4650
Found 4654 at lat 37.793 in 63.41 sec
Starting at new latitude line 37.794
4700
Found 4715 at lat 37.794 in 55.74 sec
Starting at new latitude line 37.795
4750
Found 4773 at lat 37.795 in 53.96 sec
Starting at new latitude line 37.796
4800
Found 4833 at lat 37.796 in 49.62 sec
Starting at new latitude line 37.797
4850
Found 4893 at lat 37.797 in 55.06 sec
Starting at new latitude line 37.798
4900
4950
Found 4952 at lat 37.798 in 47.85 sec
Starting at new latitude line 37.799
5000
Found 5014 at lat 37.799 in 55.44 sec
Starting at new latitude line 37.8
5050
Found 5075 at lat 37.8 in 51.14 sec
Starting at new latitude line 37.801
5100
Found 5130 at lat 37.801 in 54.68 sec
Starting at new latitude line 37.802
5150
Found 5180 at lat 37.802 in 48.85 sec
Starting at new latitude line 37.803
5200
Found 5225 at lat 37.803 in 45.53 sec
Starting at new latitude line 37.804
5250
Found 5274 at lat 37.804 in 48.76 sec
Starting at new latitude line 37.805
5300
Found 5320 at lat 37.805 in 52.18 sec
Starting at new latitude line 37.806
5350
Found 5354 at lat 37.806 in 46.7 sec
Starting at new latitude line 37.807
Found 5373 at lat 37.807 in 43.48 sec
Starting at new latitude line 37.808
Found 5391 at lat 37.808 in 39.61 sec
Starting at new latitude line 37.809
Found 5391 at lat 37.809 in 16.11 sec
3771.54418921

In [28]:
df.head()

,GridLat,GridLng,AddressString,AddLat,AddLng,LocationType,PlaceID
0,37.743,-122.513,"2443 30th Ave, San Francisco, CA 94116, USA",37.7417,-122.488,ROOFTOP,ChIJURZ-SoN9j4ARCs1r6uVwLqk
1,37.743,-122.488,"2375 30th Ave, San Francisco, CA 94116, USA",37.743,-122.488,ROOFTOP,ChIJOQVfE4N9j4ARHT6FHu3rQ5U
2,37.743,-122.487,"2379 29th Ave, San Francisco, CA 94116, USA",37.743,-122.487,ROOFTOP,ChIJJYruXYN9j4ARoUQmCJ1pVWo
3,37.743,-122.486,"1800 Taraval St, San Francisco, CA 94116, USA",37.7429,-122.486,ROOFTOP,ChIJ6dPJuoR9j4ARpYiSFqPR9pk
4,37.743,-122.485,"2379 27th Ave, San Francisco, CA 94116, USA",37.7431,-122.485,ROOFTOP,ChIJd7KoyIR9j4ARie_2Ut3zP5U

In [29]:
df.to_csv(path+'latlng/SF10000d.csv')